<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="detailImage">
	<select id="selectByIdeaId" resultType="detailImageVO">
		select di_id, di_system_name, di_original_name, di_file_size, idea_id
		from tbl_detail_image
		where idea_id = #{ideaId}
	</select>
</mapper>