<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="idea">

	<!-- 검색 -->
	<sql id="search">
		<!-- trim: 맨 앞에 붙이거나 맨 뒤에 붙이거나 -->
		<trim prefix="(" suffix=")">
				idea_title like concat('%', #{keyword}, '%')
				or idea_basic like concat('%', #{keyword}, '%')
				or idea_detail like concat('%', #{keyword}, '%')
				or user_identification like concat('%', #{keyword}, '%')
		</trim>
	</sql>

<!-- 	<select id="selectAll" resultType="ideaDTO">
		select idea_id, idea_title, idea_basic, idea_detail, 
		idea_thumbnail_name, idea_date, user_id, sc_id
		from tbl_idea
		order by idea_id desc
		limit #{offset}, #{rowCount}
	</select> -->
	
	<select id="selectAll" resultType="ideaDTO">
		select idea_id, idea_title, idea_basic, idea_detail, idea_thumbnail_name, idea_date, sc_id, u.user_id, u.user_identification
		from tbl_user u join tbl_idea i
		<trim suffixOverrides="and"> 
			on u.user_id = i.user_id and
			<include refid="search"/>
		</trim>
			order by idea_id desc
		limit #{offset}, #{rowCount}
	</select>
	
	<select id="getTotal" resultType="_int">
		select distinct count(idea_id)
		from tbl_user u join tbl_idea i
		<trim suffixOverrides="and"> 
			on u.user_id = i.user_id and
			<include refid="search"/>
		</trim>
	</select>
	
	<select id="getTotalByUserId" resultType="_int">
		select count(idea_id) from tbl_idea
		where user_id = #{userId};
	</select>
	
	<select id="findByIdeaId" resultType="ideaDTO2">
		select idea_id, idea_title, idea_basic, idea_detail, idea_thumbnail_name, idea_date, user_id, sc_id
		from tbl_idea where idea_id = #{ideaId};
	</select>
	
	<insert id="insert">
		insert into tbl_idea 
		(idea_title, idea_basic, idea_detail, idea_thumbnail_name, user_id, sc_id)
		values(#{ideaTitle}, #{ideaBasic}, #{ideaDetail}, #{ideaThumbnailName}, #{userId}, #{scId})
	</insert>
	
	<select id="selectCurrentSequence" resultType="long">
		select last_insert_id()
	</select>
	
	<update id="updateThumbnail">
		update tbl_idea
		set idea_thumbnail_name = #{ideaThumbnailName}
		where idea_id = #{ideaId}
	</update>
	
	
	<select id="getTotalIdea" resultType="_int">
		select count(idea_id)
		from tbl_idea 
	</select>
	
	<select id="selectAll3" resultType="ideaDTO2">
		select idea_id, idea_title, idea_basic, idea_detail, 
		idea_thumbnail_name, idea_date, user_id, sc_id, u.user_id
		from tbl_user u join tbl_idea i
		on u.user_id = i.user_id
		where u.user_id = #{userId}
		order by idea_id desc
		limit #{offset}, #{rowCount}
	</select>
	
	<select id="selectAll2" resultType="ideaDTO2">
		select idea_id, idea_title, idea_basic, idea_detail, 
		idea_thumbnail_name, idea_date, user_id, sc_id
		from tbl_idea
		where user_id = #{userId}
		order by idea_id desc
		limit #{offset}, #{rowCount}
	</select>
	
	
	
	
		
	
	<select id="selectAllMerterialize" resultType="ideaDTO2">
		select i.idea_id, i.user_id, sc_id, idea_title, idea_basic, idea_detail, idea_thumbnail_name, idea_date 
		from tbl_idea i join tbl_execution e
		on e.execution_status = '4' and i.idea_id = e.idea_id
		where e.ceo_id = #{userId}
		order by idea_id desc
		limit #{offset}, #{rowCount}
	</select>
	
	
	
	
	
</mapper>