@charset "UTF-8";

/** font **/
@font-face {
    font-family: 'Metro Sans';
    font-style: normal;
    font-weight: 900;
    src: url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Black.woff2) format('woff2'),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Black.woff) format('woff'),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Black.otf) format('truetype'), url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Black.eot),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Black.eot?#iefix) format('embedded-opentype');
  }
  @font-face {
    font-family: 'Metro Sans';
    font-style: normal;
    font-weight: 700;
    src: url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Bold.woff2) format('woff2'),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Bold.woff) format('woff'),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Bold.otf) format('truetype'), url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Bold.eot),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Bold.eot?#iefix) format('embedded-opentype');
  }
  @font-face {
    font-family: 'Metro Sans';
    font-style: normal;
    font-weight: 500;
    src: url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Medium.woff2) format('woff2'),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Medium.woff) format('woff'),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Medium.otf) format('truetype'), url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Medium.eot),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Medium.eot?#iefix) format('embedded-opentype');
  }
  @font-face {
    font-family: 'Metro Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Regular.woff2) format('woff2'),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Regular.woff) format('woff'),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Regular.otf) format('truetype'), url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Regular.eot),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Regular.eot?#iefix) format('embedded-opentype');
  }
  @font-face {
    font-family: 'Metro Sans';
    font-style: normal;
    font-weight: 300;
    src: url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Light.woff2) format('woff2'),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Light.woff) format('woff'),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Light.otf) format('truetype'), url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Light.eot),
        url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Light.eot?#iefix) format('embedded-opentype');
  }





@media (min-width: 1024px) {
body > main {
    min-height: 65vh;
}
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block
}

* {
    box-sizing: border-box;
}

/***** Base *****/
* {
  box-sizing: border-box;
}

body {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(102, 102, 102, 1);
  font-family: 'Metro Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 1024px) {
  body > main {
    min-height: 65vh;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin-top: 0;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

h4 {
  font-size: 16px;
}

a {
  /* color: rgba(22, 158, 230, 1); */
  text-decoration: none;
}


input {
  font-weight: 300;
  max-width: 100%;
  box-sizing: border-box;
  outline: none;
  transition: border .12s ease-in-out;
}

input:focus {
  border: 1px solid #eacaff;
}

input[disabled] {
  background-color: #ddd;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 5%;
}

@media (min-width: 1160px) {
  .container {
    padding: 0;
    width: 90%;
  }
}

.container-divider {
  border-top: 1px solid #eacaff;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}



***** Header *****/
.header-bg{
 background-color: #eacaff;
}

.header {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 5%;
  position: relative;
  align-items: center;
  display: flex;
  height: 44px;
  justify-content: space-between;
  
}

.logo-kmong {
  height:16px;    
  margin-top:8px;
}

.cs {
 		height:16px;
    padding-left:6px; 
}



@media (min-width: 1160px) {
  .header {
    padding: 0;
    width: 90%;
    height: 80px;
  }
  .logo-kmong {
  	height:25px;
    margin-top:6px;
	}
  .cs {
 		height:25px;
    padding-left:10px;
    margin-top:6px;
  }

    
}



.logo img {
   
}
 

.user-nav {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .user-nav {
    position: relative;
    display: inline-block;
  }
}

.user-nav[aria-expanded="true"] {
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #ddd;
  right: 0;
  left: 0;
  top: 45px;
  z-index: 1;
}

.user-nav[aria-expanded="true"] > a {
  display: block;
  margin: 20px;
  
}

.nav-wrapper a {
  border: 0;
  color: rgba(22, 158, 230, 1);
  display: none;
  text-decoration:none;
  font-size: 14px;
  padding: 0 20px 0 0;
  width: auto;
  
}

@media (min-width: 768px) {
  .nav-wrapper a {
    display: inline-block;
  }
}

 

[dir="rtl"] .nav-wrapper a {
  padding: 0 0 0 20px;
}

.nav-wrapper a:hover, .nav-wrapper a:focus, .nav-wrapper a:active {
  background-color: transparent;
  color: rgba(22, 158, 230, 1);
  text-decoration: none;
}

.nav-wrapper a.login {
  display: inline-block;
}

.nav-wrapper .icon-menu {
  border: 0;
  color: rgba(22, 158, 230, 1);
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  padding: 0;
  width: auto;
}

@media (min-width: 768px) {
  .nav-wrapper .icon-menu {
    display: none;
  }
}

[dir="rtl"] .nav-wrapper .icon-menu {
  margin-left: 10px;
  margin-right: 0;
}

.nav-wrapper .icon-menu:hover, .nav-wrapper .icon-menu:focus, .nav-wrapper .icon-menu:active {
  background-color: transparent;
  color: rgba(22, 158, 230, 1);
}



.container-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
  min-height: 50px;
  padding-bottom: 15px;
}

@media (min-width: 768px) {
  .container-nav {
    align-items: baseline;
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .container-nav input[type="search"] {
    min-width: 300px;
  }
}

.container-nav input[type="search"]::after {
  font-size: 15px;
}


*****container-ol *****/

.container-ol {
  margin: 0 0 15px 0;
  padding: 0;
  font-weight: 400;
  color: #666666;
}

@media (min-width: 768px) {
  .container-ol {
    margin: 0;
  }
}

.container-ol li {
  display: inline;
  font-weight: 400;
  font-size: 13px;
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666666;
}

.container-ol li + li::before {
  content: ">";
  margin: 0 4px;
}

.container-ol li a {
  color: #666666;
}


/***** Search field *****/
.search {
  position: relative;
}

.search input[type="search"] {
  border: 1px solid #ddd;
  border-radius: 30px;
  box-sizing: border-box;
  color: #666;
  font-weight:400;
  height: 40px;
  padding-left: 40px;
  padding-right: 20px;
  -webkit-appearance: none;
  width: 100%;
}

[dir="rtl"] .search input[type="search"] {
  padding-right: 40px;
  padding-left: 20px;
}

.search input[type="search"]:focus {
  border: 1px solid #eacaff;
  color: #555;
}

.search::before {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  color: #777;
  content: "\1F50D";
  font-size: 14px;
  position: absolute;
  left: 20px;
}

[dir="rtl"] .search::before {
  right: 15px;
  left: auto;
}

.search-full input[type="search"] {
  border: 1px solid #fff;
}



/***** Article *****/
.article {
  /*
  * The article grid is defined this way to optimize readability:
  * Sidebar | Content | Free space
  * 17%     | 66%     | 17%
  */
  flex: 1 0 auto;
   
}

@media (min-width: 1024px) {
  .article {
    flex: 1 0 66%;
    max-width: 66%;
    min-width: 640px;
    padding: 0 30px;
  }
}

.article-container {
  display: flex;
  flex-direction: column;
  
}

@media (min-width: 1024px) {
  .article-container {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
.article-title {
    flex-basis: 100%;
}
}

.article-header {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0px;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .article-header {
    flex-direction: row;
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
.article-sidebar {
    border: 0;
    flex: 0 0 17%;
    height: auto;
}
}

.article-sidebar {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    flex: 1 0 auto;
    margin-bottom: 20px;
    padding: 0;
    color: #666666;
}

@media (min-width: 1024px) {
  .article-sidebar {
    border: 0;
    flex: 0 0 17%;
    height: auto;
  }
}


.collapsible-sidebar-title {
    margin-top: 0;
}



.sidenav-title {
  font-size: 15px;
  position: relative;
}

.sidenav-item {
  border-radius: 4px;
  color: #999999;
  display: block;
  font-weight: 350;
  margin-bottom: 10px;
  padding:0px;
}

.sidenav-item-text {
  padding:10px;
}

.sidenav-item.current-article, .sidenav-item:hover {
  background-color: #F2F3F7;
  color: #333333;
  font-weight:400;
  text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (min-width: 1024px) {
.collapsible-sidebar {
    max-height: none;
    padding: 0;
}
}
.collapsible-sidebar {
    flex: 1;
    max-height: 45px;
    overflow: hidden;
    padding: 10px 0;
    position: relative;
}

.collapsible-sidebar-title {
    margin-top: 0;
}





.article-title .icon-lock::before {
  content: "\1F512";
  font-size: 20px;
  position: relative;
  left: -5px;
  vertical-align: baseline;
}

.article [role="button"] {
  flex-shrink: 0;
  /*Avoid collapsing elements in Safari (https://github.com/philipwalton/flexbugs#1-minimum-content-sizing-of-flex-items-not-honored)*/
  width: 100%;
 
}

@media (min-width: 768px) {
  .article [role="button"] {
    width: auto;
  }
}

.article-info {
  max-width: 100%;
}

.article-content {
    line-height: 1.6;
    margin: 30px 0;
    word-wrap: break-word;
    color: #333333;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

b, strong {
    font-weight: bold;
}

.orange80 {
    color: #eacaff;
}

.article-body > p:last-child {
    margin-bottom: 0;
}

.article-footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

@media (min-width: 1024px) {
.to-top {
    display: none;
}
}

.to-top {
    border-top: 1px solid #ddd;
}

.to-top {
  border-top: 1px solid #ddd;
}

@media (min-width: 1024px) {
  .article-return-to-top {
    display: none;
  }
}

.to-top a {
  color: rgba(102, 102, 102, 1);
  display: block;
  padding: 20px 0;
}

.to-top a:hover, .to-top a:focus {
  text-decoration: none;
}

.to-top .icon-arrow-up::before {
  font-size: 16px;
  margin-left: 5px;
}

.to-top .icon-arrow-up::before {
  margin-right: 10px;
}



@media (min-width: 768px) {
.button-yellow, input[type="submit"] {
    width: auto;
}
}

.button-yellow:hover {
  background-color: #997f00;
  text-decoration:none;
}

.button-yellow, input[type="submit"] {
    background-color: #eacaff;
    border: 0;
    border-radius: 4px;
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.72;
    min-width: 240px;
    padding: 10px 50px 10px 50px;
    width: 100%;
}

@media (min-width: 1024px) {
.to-top {
    display: none;
}
}



/***** Footer *****/

.footer {
  border-top: 1px solid #ddd;
  margin-top: 60px;
  padding: 30px 0;
}

.footer a {
  color: #999;
}

.footer-div {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 5%;
  display: flex;
  justify-content: space-between; 
  display:none;
}

.footer-div2 {
  margin: 0 auto;
  padding: 0;
  display: flex;
  font-size:12px;
  justify-content: space-between;
  padding-bottom:40px;
    
}

@media (min-width: 1160px) {
  .footer-div2 {
  display:none;
  }
}

.footer-about {
  max-width: 247px;
  height: 132px;
  font-family: NotoSansCJKkr;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.69;
  letter-spacing: -0.3px;
  color: #666666;
}

@media (min-width: 1160px) {
  .footer-div {
    padding: 0;
    width: 100%;
    display:flex;
    font-size:13px;
  }
}


li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.sidenav-item.current-article, .sidenav-item:hover {
    background-color: #F2F3F7;
    color: #333333;
    font-weight: 400;
    text-decoration: none;
}
.custom-breadcrumbs a:link, a:hover, a:visited {
    color: #666666;
}
.sidenav-item {
    border-radius: 4px;
    color: #999999;
    display: block;
    font-weight: 350;
    margin-bottom: 10px;
    padding: 0px;
}




/* Sidebar navigation that collapses on mobile */
.collapsible-sidebar {
  flex: 1;
  max-height: 45px;
  overflow: hidden;
  padding: 10px 0;
  position: relative;
}

@media (min-width: 1024px) {
  .collapsible-sidebar {
    max-height: none;
    padding: 0;
  }
}

.collapsible-sidebar[aria-expanded="true"] {
  max-height: none;
}

.collapsible-sidebar[aria-expanded="true"] .collapsible-sidebar-title::after {
  content: "\2715";
}

@media (min-width: 1024px) {
  .collapsible-sidebar[aria-expanded="true"] .collapsible-sidebar-title::after {
    display: none;
  }
}

.collapsible-sidebar-title {
  margin-top: 0;
}

.collapsible-sidebar-title::after {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  content: "\25BE";
  position: absolute;
  right: 10px;
}

@media (min-width: 1024px) {
  .collapsible-sidebar-title::after {
    display: none;
  }
}

[dir="rtl"] .collapsible-sidebar-title::after {
  left: 10px;
  right: auto;
}



.sidenav-title {
  font-size: 15px;
  position: relative;
}

.sidenav-item {
  border-radius: 4px;
  color: #999999;
  display: block;
  font-weight: 350;
  margin-bottom: 10px;
  padding:0px;
}

.sidenav-item-text {
  padding:10px;
}

.sidenav-item.current-article, .sidenav-item:hover {
  background-color: #F2F3F7;
  color: #333333;
  font-weight:400;
  text-decoration: none;
  
}



