@charset "UTF-8";

* {
    box-sizing: border-box;
    word-break: break-all;
	font-family: 'MetroSansMedium';    
}

body {
    background: white !important;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.5438;
    color: #4d4d4d;
    font-family: MetroSans;
}

img {
    vertical-align: middle;
    border: 0;
}

label {
    display: inline-block;
    max-width: 100%;
}

svg {
    width: 20;
    height: 20;
    fill: currentcolor;
}

svg:not(:root) {
    overflow: hidden;
}

.global-body{
	 margin: 0 !important;
}

.GigForm {
    display: flex;
    flex-direction: column;
}

.GigFormHeader {
	margin: auto;
    flex-direction: row;
    position: sticky;
    align-items: center;
    width: 100%;
}


.header-form-main {
	align-items: center;
    width: 978px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}

.main-logo {
	position: relative;
}

.header-summit[disabled] {
    background-color: #e4e5ed;
    color: #727585;
}

.header-summit {
	background-color: #ffd400;
    border-radius: 4px;
    color: #303441;
    font-size: 14px;
    font-weight: 500;
    border: 0;
    padding: 8px 12px;
}

.kmong-logo {
	width: 85px;
    height: 26px;
}

.header-line {
	position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #f2f3f7;
}

.header-form {
	display: flex;
    align-items: center;
    transition: width 500ms linear;
    background-color: #ffd400;
    height: 2px;
    position: relative;
    top: 0;
}

.form-main {
	position: relative;
    margin: auto;
    width: 978px;
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}

.side-nav {
	flex-direction: column;
    display: flex;
    flex-basis: 180px;
    padding-top: 32px;
}

.body-form {
	display: flex;
    flex: 1;
    padding-top: 0;
    color: #303441;
}

.aside-step {
	color: #9a9ba7;
    text-decoration: none;
    border: none;
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    align-items: center;
}

.aside-step-first {
	margin-top: 0;
}

.aside-step-active .aside-step-list {
	background-color: #555969;
    border: 0;
    color: #fff;
}

.aside-step-complete .aside-step-list {
	background-color: #fffad1;
    border: 0;
    color: transparent;
}


.aside-step-list {
	background-color: #fff;
    width: 24px;
    height: 24px;
    border-radius: 6px;
    border: 1px solid #e4e5ed;
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #727585;
}

.aside-step-name {
	margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    color: #9a9ba7;
}

.aside-step-active .aside-step-name, .aside-step-complete .aside-step-name {
	color: #303441;
}

.svg-icon1 {
	display: flex;
    align-items: center;
    justify-content: center;
}

.left-padding {
	position: absolute;
    height: 100%;
    width: 1px;
    background-color: #f2f3f7;
}

.main-form {
	display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 96px;
    padding: 36px 0 36px 24px;
}

.main-top {
	margin-bottom: 12px;
}

.main-top-wrapper {
	border-radius: 6px;
    border: solid 1px #f2f3f7;
    padding: 4px 8px 4px 16px;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    margin-bottom: 13px;
}

.form-top-wrapper {
	display: flex;
    align-items: flex-start;
    margin-top: 4px;
    color: #ff402b;
    flex: 1;
    font-size: 11px;
}

.top-title {
	display: flex;
    color: #303441;
    font-size: 13px;
    font-weight: 500;
    min-width: 112px;
    flex: none;
    padding-top: 10px;
    cursor: default;
}

.top-input {
	display: flex;
    flex-grow: 1;
    min-height: 40px;
    align-items: center;
}

.top-title1 {
	position: relative;
    display: flex;
    flex-direction: column;
    white-space: pre-wrap;
}

.main-text-area {
	flex-direction: column;
    flex: 1;
    padding: 4px 0;
}


.description-from .main-text-wrapper .explanation-conriner.text-toolbar1 {
	border: none;
    max-height: 650px;
}

.xplanation-conriner {
	box-sizing: border-box;
    font-size: 13px;
    height: 100%;
    margin: 0;
    position: relative;
}

.explanation-editer {
	min-height: 300px;
    font-size: 16px;
    box-sizing: border-box;
    line-height: 1.42;
    height: 100%;
    outline: 0;
    overflow-y: auto;
    padding: 12px 15px;
    tab-size: 4;
    text-align: left;
    word-wrap: break-word;
}

.introduce {
	font-family: 'NanumSquareAcr';
    outline: none;
    width: 100%;
    height: 100%;
    border: none;
    display: block;
    cursor: text;
    color: #303441;
    padding: 14px;
    font-size: 13px;
    resize: none;
    overflow: auto;
}




.top-input textarea, .top-input input {
	border: 0;
    width: 100%;
    height: 100%;
    color: #303441;
    font-size: 13px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: transparent;
    border-color: transparent;
    line-height: normal;
    appearance: none;
    padding: 0;
    border: 0;
}

.main-text-wrapper .text-toolbar1.text-toolbar {
	padding-top: 8px;
    padding-bottom: 4px;
}

.text-toolbar.text-toolbar1 {
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 8px;
	}
.description-from .main-text-wrapper {
	height: calc(100% - 20px);
}

.description-from .main-text-wrapper .text-toolbar1.text-toolbar {
	padding: 0;
    border: none;
}

.main-text-wrapper .text-toolbar.text-toolbar1 .text-fonts {
    vertical-align: top;
}

.main-text-wrapper .text-toolbar1.text-toolbar .text-fonts {
    margin-bottom: 10px;
}

.text-toolbar.text-toolbar1 .text-fonts {
    margin-right: 15px;
}

.bottom-wrapper {
	flex: 1;
    flex-direction: column;
    padding: 4px 0;
}

.bottom-wrapper1 {
	display: flex;
    background-color: #fafafc;
    padding: 4px 8px 4px 16px;
    align-items: center;
    flex-direction: row;
    border-radius: 4px;
    margin-top: 8px;
}

.bottom-wrapper-title {
	font-size: 13px;
    min-width: 120px;
    color: #303441;
}

.bottom-wrapper-select {
	flex-grow: 1;
    position: relative;
    display: flex;
    min-height: 40px;
    flex-direction: column;
    justify-content: center;
    padding-right: 8px;
}

.bottom-wrapper-select .select {
    width: 100%;
    display: inline-block;
    text-align: left;
}

.bottom-wrapper-select .select>button {
    font-size: 13px;
    width: 100%;
    border-radius: 0;
    border: none;
    text-align: left;
    line-height: 13px;
    padding: 0;
    color: #9a9ba7;
    background: transparent;
    min-height: 31px !important;
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.bottom-wrapper-select .select .buttonLabel {
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    
    word-break: break-word;
    display: inline-block;
    padding: 0;
}

.bottom-wrapper-select .select .caret {
    position: absolute;
    right: 6px;
    top: 50%;
    border: solid #c8cad2;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    transform: translateY(-75%) rotate(45deg);
    
    width: 0;
    height: 0;
    margin: 0 0 1px 12px !important;
    vertical-align: middle;
}

.bottom-wrapper-select .select .checkboxLayer {
    box-shadow: rgba(0,0,0,0.05);
    border-radius: 4px;
    border: none;
    margin-top: -1px;
    min-width: auto;
    width: 100%;
    
    background-color: #fafafc;
    position: absolute;
    z-index: 999;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    display: none;
}

.bottom-wrapper-select .select .helperContainer {
    padding: 0;
}

.bottom-wrapper-select .select .line {
    display: none;
    box-sizing: content-box;
    max-height: 30px;
    overflow: hidden;
    padding: 2px 0 4px;
    position: relative;
}

.bottom-wrapper-select .select .checkBoxContainer {
    padding: 4px;
    min-height: 42px;
    
    display: block;
    padding-top: 5px;
    overflow: hidden;
    max-height: 300px;
    min-height: 80px;
    overflow-y: auto;
}

.bottom-wrapper-select .selectList {
    margin: 0;
    list-style: inside disc;
    padding-left: 0;
}

.bottom-wrapper-select .select .selectItem {
    display: flex;
    align-items: center;
    white-space: nowrap;
    line-height: 32px;
    font-size: 12px;
    color: #303441;
    padding: 0 4px;
    transition: background-color 0.2s ease;
    
    user-select: none;
    border: 1px solid transparent;
    position: relative;
    min-width: 278px;
    min-height: 32px;
    margin-left: 11px;
}

.selectItem:hover {
	background-color:#ccc;
}

.footer-form {
	z-index: 11;
    width: 100%;
    padding: 8px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #e4e5ed;
    background-color: #fff;
}

.footer-wrapper {
	width: 978px;
    margin: 0 auto;
    display: flex;
    flex: 1;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
}

.footer-save, .footer-next {
    border: 1px solid #e4e5ed;
    border-radius: 4px;
    padding: 8px 14px;
    color: #303441;
    background-color: #fff;
    font-weight: 500;
}

.footer-next {
    margin-left: 8px;
}

.description-from .main-text-wrapper .text-toolbar1 .text-picker.text-size {
    color: #303441;
}

.text-toolbar.text-toolbar1 .text-picker-label {
    border: 1px solid transparent;
}

.main-text-wrapper .text-picker-label {
    font-size: 15px;
}

.text-toolbar1 .text-picker-labell {
    cursor: pointer;
    display: inline-block;
    height: 100%;
    padding-left: 8px;
    padding-right: 2px;
    position: relative;
    width: 100%;
}

.description-from .main-text-wrapper .text-toolbar1 .text-picker.text-size .text-picker-label[tabindex="0"]::before {
    content: '본문';
}

.main-text-wrapper .text-toolbar1 .text-stroke {
    stroke: rgba(63,63,63,.95);
    stroke-linecap: square;
    stroke-linejoin: initial;
    stroke-width: 1.7px;
}
/*문제 있음...*/
.text-toolbar1 .text-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {
    position: absolute;
    margin-top: -9px;
    top: 50%;
    width: 18px;
}

.main-img3 {
	flex-direction: column !important;
    padding-left: 0;
    padding-right: 0;
    border: 0;
}

.main-img {
	border-radius: 6px;
	/*padding: 4px 8px 4px 16px;*/
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}

.main-img-title {
	display: flex;
    color: #303441;
    font-size: 13px;
    font-weight: 500;
    min-width: 112px;
    flex: none;
    padding-top: 10px;
    cursor: default;
    flex-basis: auto;
}

.sub-title-type{
	color: #303441;
	}

.sub-title-active {
	color: #ff402b;
}

.main-img-con {
	flex-grow: 1;
    margin-top: 8px;
}

.add-img-con {
	display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 186px;
    overflow: hidden;
}

.uplodebox {
	flex-basis: calc(33% - 4px);
    width: calc(33% - 4px);
    height: 186px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #e4e5ed;
    background: #fff;
    border-radius: 4px;
    order: 1;
}

.uplodebox-img {
	display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    cursor: pointer;
    margin-top: 33px;
}

.uplodebox-text {
	font-size: 13px;
    color: #555969;
    margin-top: 8px;
}

.uplodebox-select {
	display: none;
    width: 100%;
    padding: 0 26px;
}

.dummybox {
	flex-basis: calc(33% - 4px);
    width: calc(33% - 4px);
    height: 186px;
    order: 2;
}

.mainimg-title {
	flex-basis: auto;
}

.sub-title-type2 {
	margin-left: 10px;
}

.img-con {
	flex-grow: 1;
    margin-top: 8px;
}

.add-img-con .add-img-area {
	flex-basis: calc(33% - 4px);
    width: calc(33% - 4px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    order: 1;
}

.add-img-con .detail-img {
	width: 100%;
    height: 186px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e4e5ed;
    background: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 8px;
}

.select-category-type2 {
	
}


