@charset "UTF-8";

* {
	font-family: 'MetroSansMedium';
}



body {
	margin: 0;
}

/* --------------------------------------------------------------- */

.join-main{
	width: 560px;
    padding: 20px 0px;
    margin: 0 auto;
    margin-top: 56px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo-wrapper{
	cursor: pointer;
    text-decoration: none;
    margin-bottom: 24px;
}

.main-wrapper{
	padding: 56px 80px;
    border: 1px solid #e4e5ed;
}

.join-form{
	
}

.join-title{
	font-size: 30px;
    font-weight: normal;
    color: #303441;
    line-height: normal;
    margin-bottom: 40px;
    margin-top: 0;
}

.content-wrapper{
	position: relative;
    padding-bottom: 16px;
}


.content-title{
	font-size: 16px;
    color: rgb(85, 89, 105);
    margin-bottom: 8px;
    position: relative;
}

.content-title::after{
	position: relative;
    left: 2px;
    top: -2px;
    content: "*";
    color: rgb(255, 114, 98);
}

.content-menu-wrapper{
	position: relative;
    box-sizing: border-box;
    width: 100%;
}


.menu-text{
	z-index: 9999;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
}

.menu-container{
	align-items: center;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    outline: 0!important;
    position: relative;
    transition: all 100ms;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: #e4e5ed;
    box-shadow: none;
    min-height: 30px;
}


.menu-input-wrapper{
	align-items: center;
	display: flex;
	flex: 1;
	flex-wrap: wrap;
    padding: 0 16px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    font-size: 15px;
    height: 50px;
    align-content: center;
}

.menu-input-title{
	color: #9A9BA7;
    margin-left: 2px;
    margin-right: 2px;
    max-width: calc(100% - 8px);
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
}


.menu-input{
	background: 0;
    border: 0;
    font-size: inherit;
    outline: 0;
    padding: 0;
    width: 1px;
    color: transparent;
    left: -100px;
    opacity: 0;
    position: relative;
    transform: scale(0);
    
    line-height: normal;
    margin: 0;
}


.menu-show-btn{
	align-items: center;
	align-self: stretch;
	display: flex;
	flex-shrink: 0;
    box-sizing: border-box;
}

.btn-image-wrapper{
	color: hsl(0, 0%, 80%);
    display: flex;
    padding: 0 16px;
    transition: color 150ms;
    box-sizing: border-box;
}

.menu{
    display : none;
    position : absolute;
    z-index : 1; /*다른 요소들보다 앞에 배치*/
    font-weight: 400;
    background-color: white;
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    height: 275px;
    overflow: auto;
  }
  
.menu li{
	display : block;
	text-decoration : none;
	color : rgb(37, 37, 37);
	font-size: 14px;
	padding : 12px 20px;
}

.menu li:hover{
	background-color : #ececec
}

.content-menu-wrapper:hover .menu{
	display: block;
	position : absolute;
}



.btn-image{
	fill: #c8cad2;
    width: 24px;
    height: 24px;
    display: inline-block;
    line-height: 1;
    stroke: currentColor;
    stroke-width: 0;
}

.input-wrapper{
	width: 100%;
    border: 1px solid rgb(228, 229, 237);
    border-radius: 4px;
    transition: background-color 0.2s ease 0s, border-color 0.2s ease 0s;
    display: inline-flex;
    flex-direction: row;
    overflow: hidden;
    cursor: text;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 52, 65);
    height: 52px;
    font-size: 15px;
    min-width: 80px;
}

.input-wrapper:focus-within{
	border: thin solid #454545;
}

.join-input{
	outline: none;
    flex: 1 1 0%;
    width: 100%;
    background-image: none;
    box-sizing: border-box;
    font-size: inherit;
    border: none;
    font-weight: inherit;
    background-color: transparent;
    text-align: left;
    color: #9A9BA7;
    padding: 0px 0px 0px 16px;
    overflow: visible;
    line-height: normal;
    margin: 0;
}


.agreements-wrapper{
	padding: 16px;
    border: 1px solid #e4e5ed;
    border-radius: 4px;
    margin-bottom: 20px;
}


.agree-all-wrapper{
	font-size: 15px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e4e5ed;
    cursor: pointer;
}

.agree-all-container{
	margin-right: 8px;
    display: inline-block;
    background-color: rgb(255, 212, 0);
    border-radius: 50%;
    padding: 2px;
    line-height: 1.15;
}

.agree-all{
	display: inline-block;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
    color: #ffffff;
}

.check{
	display: inline-block;
}

.mandatory{
	color: #ff7262;
	font-size: 12px;
}

.choice{
	
}


.agree-choice-wrapper{
	margin-top: 16px;
}

.agree-choice{
	font-size: 12px;
    color: #727585;
    margin-bottom: 4px;
    cursor: pointer;
}

.checkbox{
	margin-right: 8px;
    display: inline-block;
    background-color: rgb(255, 212, 0);
    border-radius: 50%;
    padding: 2px;
    line-height: 1.15;
}


.join-btn{
	outline: none;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 4px;
    line-height: 1;
    font-weight: 500;
    transition: background-color 0.3s,border-color 0.3s;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    user-select: none;
    white-space: nowrap;
    width: 100%;
    min-width: 100%;
    height: 52px;
    font-size: 16px;
    padding: 0 24px;
    min-width: 80px;
    background-color: #ffd400;
    border-color: #ffd400;
    color: #303441;
    text-transform: none;
    overflow: visible;
    margin: 0;
}


.darker:hover{
   filter: brightness(50%);
}



.notice{
	margin: 24px 0px;
    font-size: 13px;
    color: rgb(154, 155, 167);
    text-align: center;
    line-height: normal;
}