@charset "UTF-8";

* {
	font-family: 'MetroSansMedium';
}


body {
    margin: 0;
}

a{
	text-decoration: none;
	color: black;
	cursor: pointer;
}

li {
    list-style: none;
}

/* 헤더바 시작------------------------------------------------------------------------------- */
.header{
	position: sticky;
	top: 0;
	border-bottom: 1px solid #e4e5ed;
	z-index:1;
}


.top-header{
	font-size: 16px;
	text-decoration: none solid rgb(0, 0, 0);
	word-spacing: 0px;
	
	background-color: #ffffff;
	background: 0% 0%;
	color : #000000;

	
	height: 74px;
	width: 1200px;
	margin: 0 auto;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;	
}

.top-header-logo{
	font-size: 16px;
	text-decoration: none solid rgb(0, 0, 238);
	word-spacing: 0px;
	
	background-color: #ffffff;
	background: 0% 0%;
	color : #0000EE;
	
	height: 100%;
	width: 85px;
	
	display: inline;
	
	overflow: hidden;
	cursor: pointer;
	box-sizing: border-box;
}

.top-header-input-form{
    box-sizing: border-box;
	margin: 0 0 0 500px;
	display: flex;
	justify-content: center;
	align-self: flex;
	width: 100%;
	max-width: 344px;
	position: relative;
	font-size: 14px;
}


.top-header-input-wrapper{
	font-size: 14px;
	text-decoration: none solid rgb(48, 52, 65);
	word-spacing: 0px;
	
	background-color: #ffffff;
	background: 0% 0%;
	color : #303441;
	
	height: 42px;
	width: 345px;
	border: 1px solid #303441;
	border-radius: 500px;
	padding: 0 12px 0 12px;
	min-height: auto;
	min-width: 64px;
	
	display: flex;
	
	overflow: hidden;
	cursor: text;
}


.top-header-input-wrapper:hover{
    background-color: #F2F3F7;
}



.top-header-input{
	font-size: 15px;
	text-align: left;
	border: 0px;
	word-spacing: 0px;
	
	background-color: #ffffff;
	background: 0% 0%;
	color : #303441;
	outline: none;
	
	height: 40px;
	width: 290px;
	padding: 1 2px 1 2px;
	min-height: auto;
	min-width: auto;
	
	display: block;
	cursor: text;
	
}

.magnifier-wrapper{
	background-color: #FFFFFF;
	background: 0% 0%;
	color: #303441;
	
	height: 40px;
	width: 27px;
	padding: 0 0 0 7px;
	min-height: auto;
	min-width: auto;
	
	display: flex;
	padding-left: 7px;
	justify-content: flex-end;
	align-items: center;
	flex-basis: auto;
	cursor: pointer;
}

.magnifier{
	background-color: #FFFFFF;
	background: 0% 0%;
	color: #303441;
	
	height: 20px;
	width: 20px;
	
	display: inline-block;
	
	overflow: hidden;
	cursor: cursor;
}

.top-header-menu-wrapper{
	background-color: #FFFFFF;
	background: 0% 0%;
	color: #000000;
	
	height: 43px;
	width: 249px;
	min-height: auto;
	min-width: auto;
	
    display: flex;
    flex-direction: row;
    align-items: center;
}


a.top-header-menu:hover {
    background-color: rgba(48, 52, 65, 0.1);
}


.top-header-menu{
	outline: none;
    border: 4px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;

	font-size: 15px;
	font-weight: 500;
	line-height: 1;
	text-decoration: none solid rgb(48, 52, 65);
	white-space: nowrap;
	word-spacing: 0px;
	
	
	background-color: #FFFFFF;
	background: 0% 0%;
	color: rgb(48, 52, 65);
	
	height: 42px;
	width: 87px;
	border: 1px solid #FFFFFF;
	margin: 0 4px 0 0;
	padding: 0px 22px;
	min-height: auto;
	max-width: 100%;
	min-width: 64px;
	margin: 0 auto;
    position: relative;
	
	display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
	
	cursor: pointer;
    transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
}

.top-header-menu{
    line-height: 1;
    font-weight: 500;
    cursor: pointer;

    user-select: none;
    white-space: nowrap;
    font-size: 15px;
    color: rgb(48, 52, 65);
}


.top-header-user{
	outline: none;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    line-height: 1;
    font-weight: 500;
    transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
    text-decoration: none;
    display: inline-flex;
    
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    user-select: none;
    white-space: nowrap;
    max-width: 100%;
    height: 42px;
    font-size: 15px;
    min-width: 42px;
    padding: 0px;
    border-radius: 21px;
    background-color: transparent;
    border-color: transparent;
    color: rgb(48, 52, 65);
}

.top-header-user-wrapper{
    line-height: 1;
    font-weight: 500;

    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    font-size: 15px;
    color: rgb(48, 52, 65);
}


.top-header-user-container{
    width: 32px;
    height: 32px;
    background-color: rgb(228, 229, 237);
    position: relative;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border-radius: 50%;

    line-height: 1;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    font-size: 15px;
    color: rgb(48, 52, 65);
}

.top-header-user-image{
    display: block;
    width: 100%;
    height: 100%;

    transition: opacity 0.3s ease 0s;
    border-radius: 50%;
    opacity: 1;
}


.header-bar {
   display: block;
   min-height: 48px;
   z-index: 20;
   
   height: 74px;
   width: 1200px;
   margin: 0 auto;
   
   display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;	
}

.header-bar-category-wrapper{
	display: inline-block;
	justify-content: center;
	height: 40px;
	position: relative;
	align-items: center;
}

.header-bar-category{
	font-size: 16px;
	font-weight: 700;
	text-decoration: none solid rgb(48, 52, 65);
	text-align: center;
	word-spacing: 0px;
	
	
	color: #303441;
	background-color: #ffffff;
	background: 0% 0%;
	
	height: 45px;
	width: 154px;
	padding: 1px 6px 1px 6px;
	min-height: auto;
	min-width: auto;

	display: flex;
	align-items: center;
	cursor: pointer;
	border: 0;
	outline: none;
	overflow: visible;
	margin: 0;
}

.header-bar-category-hamberger{
	width: 24px;
	height: 24px;
}


.dropdown-menu-wrapper{
    display : none;
    position : absolute;
    z-index : 1; /*다른 요소들보다 앞에 배치*/
    font-weight: 400;
    background-color: #f9f9f9;
    min-width : 200px;
  }
  
  .dropdown-menu-wrapper a{
    display : block;
    text-decoration : none;
    color : rgb(37, 37, 37);
    font-size: 14px;
    padding : 12px 20px;
  }
  
  .dropdown-menu-wrapper a:hover{
    background-color : #ececec
  }
  
  .header-bar-category-wrapper:hover .dropdown-menu-wrapper {
    display: block;
  }


.header-bar-nav{
	margin: 0 275px 0 0;
}


.header-bar-nav-content-wrapper{	
	font-size: 16px;
	text-decoration: none solid rgb(0, 0, 0);
	word-spacing: 0px;
	background-color: #ffffff;
	background: 0% 0%;
	color: #000000;
	height: 48px;
	width: 370px;
	display: flex;
	list-style-type: none;
	list-style-position: outside;
	
	padding: 0;
	margin: 0;
}


.header-bar-category-show-btn{
    display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
    margin-left: 4px;
}

.active-bar-wrapper{
    height: 4px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.header-bar-category-wrapper:hover .active-bar{
    display:block;
}

.active-bar{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 212, 0);

    display: none;
}





.header-bar-nav-content{
	font-size: 16px;
	text-decoration: none solid rgb(0, 0, 0);
	text-align: center;
	word-spacing: 0px;
	
	background-color: #ffffff;
	background: 0% 0%;
	color: #000000;
	
	height: 48px;
	width: 100px;
	margin: 0 0 0 25px;
	min-height: auto;
	min-width: auto;
	
	position: relative;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	display: flex;
    align-items: center;
    justify-content: center;
}

.header-bar-nav-content a {
	text-decoration: none;
    color: #000000;
}

.header-bar-rightside{
	margin: 0px 0px 0px auto;
}

.underline:hover{
    text-decoration: underline;
}
/* ---------------------------------------------------------------------------------------- */

.user-profile-container{
 	width: 1170px;
    margin: 0 auto;
    padding-top: 40px;
}



.profile-main-section{
	padding: 32px;
	
	border-radius: 4px;
    background: #fafafc;
    display: flex;
    align-items: center;
}


.profile-main-section-picture{
	flex-basis: 127px;
    width: 217px;
}


.member-profile-picture{
	position: relative;
}

.profile-imgae{
	border-radius: 50%;
    background-color: #e4e5ed;
    
    display: block;
    max-width: 100%;
    height: auto;
    
    vertical-align: middle;
    border: 0;
}

.online-dot{
	background-color: #7ed321;
	position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    
    border: 2px solid white;
}

.profile-main-section-information{
	flex: 1;
    padding-left: 24px;
}

.profile-main-section-username{
	font-family: 'NanumSquareAceb';
	font-size: 25px;
    color: #303441;
    height: 37px;
    line-height: 37px;
    display: flex;
    align-items: center;
}

.profile-main-section-introduction{
	margin-top: 8px;
}


.profile-main-section-introduction span{
	font-family: 'NanumSquareAcr';
	font-size: 18px;
    color: #727585;
    margin-left: 5px;
}

.profile-main-section-button-wrapper{
	display: flex;
    justify-content: flex-end;
}

.profile-main-section-button{
	font-family: 'NanumSquareAcb';
	border: 0;
    border-radius: 6px;
    width: 269px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #303441;
    font-weight: 500;
    background: #ffd400;
}

.profile-main-section-button:hover{
	filter: brightness(0.8);
}


.profile-navigation-section{
	display: flex;
    align-items: center;
    border-bottom: 1px solid #e4e5ed;
    min-height: 60px;
}


.profile-navigation-section-item{
	font-family: 'NanumSquareAcb';
	display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 0 8px;
    font-size: 15px;
    color: #727585;
    border-bottom: 2px solid transparent;
    margin-right: 12px;
}

.item-active{
	color: #303441;
    border-color: #303441;
    font-weight: 700;
}


.user-profile-container-contents{
	display: flex;
    margin-top: 40px;
}

.user-profile-content-left{
	flex-basis: calc(100% - 390px);
    width: calc(100% - 390px);
    padding-right: 40px;
}

.user-profile-container-section{
	margin-bottom: 80px;
}

.profile-description-section{
	margin-bottom: 80px;
}

.profile-section-title{
	font-family: 'NanumSquareAceb';
	font-size: 18px;
	color: #303441;
	font-weight: 700;
	margin-bottom: 16px;
}

.profile-description{
	font-family: 'NanumSquareAcb';
	font-size: 14px;
	color: #303441;
	line-height: 1.7;
	overflow: hidden;
}


.description-detail-section{
	display: flex;
	flex-direction: column;
	row-gap: 60px;
}

.profile-skill-section-tag-group{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.profile-skill-section-tag{
	font-family: 'NanumSquareAcb';
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 0 12px;
	background: #f7f8f9;
	border-radius: 20px;
	height: 35px;
	margin-right: 8px;
	margin-top: 8px;
	font-size: 13px;
	color: #555969;
}


.profile-skill-section-specialty{
	display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding-top: 8px;
}

.profile-skill-section-title{
	font-family: 'NanumSquareAcb';
	font-size: 14px;
    color: #303441;
}

.profile-service-list-section-title{
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 24px;
}

.profile-service-list-section-advertise{
	font-family: 'NanumSquareAcb';
	color: #116ad4;
    font-size: 14px;
	
}

.profile-service-list-section-empty-box{
	margin: 0 -10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.profile-service-list-section-empty{
	height: 322px;
    border: 1px solid #e4e5ed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;
    margin: 0 10px;
}

.profile-service-list-section-empty-sub{
	font-family: 'NanumSquareAcb';
	margin-top: 24px;
    font-size: 12px;
    color: #303441;
}


.profile-service-list-section-empty-link{
	font-family: 'NanumSquareAcb';
	margin-top: 4px;
    font-size: 15px;
    color: #116ad4;
}



.user-profile-content-right{
	flex-basis: 390px;
    width: 390px;
}

.profile-information-section{
	border: 1px solid #e4e5ed;
    padding: 24px;
    margin-bottom: 120px;
}

.profile-information-section-wrapper{
	margin-bottom: 40px;
}

.profile-information-section-title{
	font-family: 'NanumSquareAceb';
	font-size: 14px;
    color: #303441;
    font-weight: 700;
    margin-bottom: 8px;
}

.profile-information-section-information{
	display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
}

.profile-information-section-information-title{
	font-family: 'NanumSquareAcb';
	font-size: 14px;
    color: #727585;
}

.profile-information-section-information-description{
	font-family: 'NanumSquareAceb';
	font-size: 14px;
    color: #303441;
    font-weight: 500;
    display: flex;
    align-items: center;
}

/* --------------------------------------------------------------------------------------- */
/* footer */


footer hr{
	height: 1px;
    margin: 0;
    border: none;
    background-color: rgb(0 0 0 / 12%);
}


.footer-menu-wrapper{
	width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    position: relative;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
}

.footer-menu-nav{
	padding-top: 32px;
    padding-bottom: 16px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.footer-menu-content-wrapper{
	font-family: 'NanumSquareAcr';
	padding-left: 16px;
	padding-right: 16px;
	flex: auto;
}

.footer-menu-content-wrapper ul{
	margin: 0;
    padding: 0;
}

.footer-menu-content-wrapper a{
	color: #97A1B6;
}



.footer-menu-content-wrapper li{
	color: #97A1B6;
	margin:0;
	padding: 0;
}

.footer-menu-content-title{
	font-family: 'NanumSquareAceb';
	font-size: 16px;
    font-weight: bold;
    margin: 0 0 8px 0;
    line-height: 1.5;
    letter-spacing: -0.34px;
}

.footer-menu-content-time{
	font-size: 13px;
    line-height: 2;
    letter-spacing: -0.28px;
    color: #9a9ba7;
    margin: 0;
}

.footer-menue-content-inquiry{
	outline: none;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 4px;
    line-height: 1;
    font-weight: 500;
    transition: background-color 0.3s,border-color 0.3s;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    
    user-select: none;
    white-space: nowrap;
    max-width: 100%;
    height: 36px;
    font-size: 14px;
    padding: 0 16px;
    min-width: 64px;
    background-color: #fff;
    border-color: #e4e5ed;
    color: #303441;
    margin-top: 16px;
    border: 1px solid #555969;   
}


.footer-menue-content-inquiry span{
	line-height: 1;
	font-weight: 500;
	cursor: pointer;
	user-select: none;
    white-space: nowrap;
    font-size: 14px;
    color: #303441;
}

.footer-store-wrapper{
	display:flex;
	justify-content: flex-end;
	padding: 16px 128px;
}

.footer-store{
	margin-right: 10px;
}

.footer-store a{
	outline: none;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 4px;
    line-height: 1;
    font-weight: 500;
    
    transition: background-color 0.3s,border-color 0.3s;
        
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    user-select: none;
    white-space: nowrap;
    width: 100%;
    
    max-width: 100%;
    height: 42px;
    font-size: 15px;
    padding: 0 22px;
    min-width: 64px;
    background-color: #fff;
    border-color: #e4e5ed;
    color: #303441;
    border: 1px solid #303441;
}

.footer-store-etc{
	line-height: 1;
	font-weight: 500;
	cursor: pointer;
	user-select: none;
    white-space: nowrap;
    font-size: 15px;
    color: #303441;
}


.footer-store img{
	line-height: 1;
	font-weight: 500;
	cursor: pointer;
	user-select: none;
    white-space: nowrap;
    font-size: 15px;
    color: #303441;
}

.footer-store-icon-wrapper{
	line-height: 1;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    font-size: 15px;
    color: #303441;
}



.block{
	display:block;
}

.flex{
	display:flex;
}
